body {
    padding: 120px 0 100px;
    background-color: rgb(247, 243, 243);
}

.carousel-caption a {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

/* Agregamos una mascara a las imágenes del carousel de manera tal que se puedan leer
   los títulos de los episodios. */
.carousel-item:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}

.carousel-item .episodeImg {
    height: 700px;
    position: relative;
}

.episodeImg {
    height: 400px;    
}

.epiList_cont .card-body {
    height: 250px;
    overflow: hidden;
}

.playButton {
    color: #1e90ff;
    cursor: pointer;
}