body {
    padding: 120px 0 100px;
    background-color: rgb(247, 243, 243);
}

.carousel-caption a {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

/* Agregamos una mascara a las imágenes del carousel de manera tal que se puedan leer
   los títulos de los episodios. */
.carousel-item:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}

.carousel-item .episodeImg {
    height: 500px;
    position: relative;
    object-fit: cover;
    object-position: 50% 40%;
}

.carousel-item:hover .pb_cont {
    opacity: 1;
}

.episodeImg {
    height: 350px;    
    object-fit: cover;
    object-position: 100% 20%;
}

.epiDetail {
    height: 400px;
    object-fit: cover;
    object-position: 100% 50%;
}

.epiList_cont .card-body {
    height: 250px;
    overflow: hidden;
}

/* Corresponde al contenedor del botón "play" de la Home */
.pb_cont {
    position: absolute;
    z-index: 2;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    opacity: 0.85;
    transition: opacity linear 0.15s;
}

.pb_cont .playButton, .pb_cont .pauseButton {
    color: #fff;
    display: block;
    cursor: pointer;
}

.pb_cont .pauseButton {
    display: none;
}

.playButton {
    color: #1e90ff;
    cursor: pointer;
}

/* Fix temporal: hace que el dropdown de la barra de menu pueda ser scrolleable cuando la barra
de navegacion se colapsa. */
@media (max-width: 991px) {
    .navbar {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
}